.title{
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1em;
    color: #349375;
}


pdf-viewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    height: calc( 100vh - 100px);
}