<div>
  <app-carrusel></app-carrusel>

  <div class="row cards">
    <div class="col">
      <div class="card" style="width: 18rem; height: 29rem;"  [routerLink]="'../preguntas'">
        <img
          src="assets/images/icono-de-mano-signo-de-interrogacion.png"
          class="card-img-top"
          alt="preguntas"
        />
        <div class="card-body">
          <h5 class="card-title">Preguntas Frecuentes</h5>
          <p class="card-text">
            ¿Tienes dudas? Ingresa acá 
          </p>
          <a  [routerLink]="'../preguntas'" class="btn btn-primary">Ver Preguntas</a>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card" style="width: 18rem; height: 29rem;">
        <img
          src="assets/images/tomaAccion.png"
          class="card-img-top"
          alt="accion"
        />
        <div class="card-body">
          <h5 class="card-title">Ejemplos de Medidas</h5>
          <p class="card-text">
            Revisa los siguientes ejemplos para incorporarlos en tu Plan Anual
          </p>
          <a class="btn btn-primary">Ver Medidas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 29rem;">
        <img
          src="assets/images/googleForm-removebg-preview.png"
          class="card-img-top"
          alt="formulario"
        />
        <div class="card-body">
          <h5 class="card-title">Ingresa tu Consulta</h5>
          <p class="card-text">
            ¿Todavía tienes dudas? Ingresa a este formulario
            y nos pondremos en contacto contigo.

          </p>
          <a  class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSd779mCNQ8z4WOGV_pIG3HCySBxIH2YqpkwJVyJc-4hq2o9zw/viewform?usp=sf_link" target="_blank">Ir al Formulario</a>
        </div>
      </div>
    </div>
  </div>

</div>


